body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: left;
  background-color: rgb(93, 0, 135);
  color: white;
  box-sizing: border-box;
  padding: 2em;
}

body ul {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

body li {
  box-sizing: border-box;
}

.endpoint-card {
  padding-left: 0;
  background-color: rgb(243, 194, 255);
  border: 1px solid purple;
  border-radius: 10px;
  padding: 1em;
  box-sizing: border-box;
}

.endpoint-card pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

body main {
  max-width: 1800px;
  padding: 1.5em;
  box-sizing: border-box;
}
